{% extends 'backtest_app/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Continuous Contract Backtesting{% endblock %}

{% block content %}
<div class="top-bar">
    <div class="left">
        {% if user.is_authenticated %}
        <div class="session-selector">
            <select id="session-select">
                <option value="">-- wybierz sesję --</option>
                {% for s in user_sessions %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                {% endfor %}
            </select>
            <button id="load-session-btn">Wczytaj</button>
        </div>
        {% endif %}
    </div>

    <div class="right login-box">
        {% if user.is_authenticated %}
        <span>Witaj, {{ user.username }}!</span>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Wyloguj</button>
        </form>
        {% else %}
        <div class="right login-box">
            <button onclick="window.location.href='{% url 'login' %}'">Zaloguj</button>
            <button onclick="window.location.href='{% url 'register' %}'">Rejestracja</button>
        </div>

        {% endif %}
    </div>
</div>


<h1>Continuous Contract Backtesting</h1>

<div class="instrument-select">
    <label for="instrument-select">Wybierz instrument:</label>
    <select id="instrument-select" onchange="showInstrumentCard()">
        <option value="">-- wybierz --</option>
        {% for symbol, info in data.items %}
            <option value="{{ symbol }}">{{ symbol }} ({{ info.latest_price|floatformat:2 }} USD)</option>
        {% endfor %}
    </select>
</div>

<div class="instrument-grid">
    {% for symbol, info in data.items %}
    <div class="instrument-tile" onclick="showInstrumentCard('{{ symbol }}')">
        <h2>{{ symbol }}</h2>
        <p class="price">${{ info.latest_price|floatformat:2 }}</p>
    </div>
    {% endfor %}
</div>

{% for symbol, info in data.items %}
<div class="card instrument-card" id="card-{{ symbol }}" style="display:none;">
    <h2>{{ symbol }} Futures</h2>
    <div class="price">${{ info.latest_price|floatformat:2 }}</div>
    <div class="links">
        <h3>Popularne zakresy dat:</h3>
        <a class="btn" href="{% url 'symbol_date_range' symbol=symbol start_date=random_date_from end_date=random_date_to %}">Losowy tydzień</a>
        <a class="btn" href="/{{ symbol }}/{{ info.week_ago }}/{{ info.latest_date }}/">Ostatni tydzień</a>
        <a class="btn" href="/{{ symbol }}/{{ info.month_ago }}/{{ info.latest_date }}/">Ostatni miesiąc</a>
        <a class="btn" href="/{{ symbol }}/{{ last_year }}/{{ today }}/">Ostatni rok</a>
        <a class="btn" href="/{{ symbol }}/{{ info.earliest_date }}/{{ info.latest_date }}/">Wszystkie dane</a>
    </div>
    
    <div class="links">
        <h3>Formularz wyboru daty:</h3>
        <form action="javascript:void(0);" id="{{ symbol }}Form">
            <input type="date" name="start_date" required min="{{ info.earliest_date }}" max="{{ info.latest_date }}">
            <input type="date" name="end_date" min="{{ info.earliest_date }}" max="{{ info.latest_date }}">
            <button type="button" onclick="submitForm('{{ symbol }}')">Wyszukaj</button>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}


{% block scripts %}
    <script>
        function submitForm(symbol) {
            const form = document.getElementById(symbol + 'Form');
            const startDate = form.elements['start_date'].value;
            const endDate = form.elements['end_date'].value;
            
            if (startDate && endDate) {
                window.location.href = `/${symbol}/${startDate}/${endDate}/`;
            } else if (startDate) {
                window.location.href = `/${symbol}/${startDate}/`;
            } else {
                alert('Podaj przynajmniej datę początkową');
            }
        }

        function showInstrumentCard(symbol = null) {
            const value = symbol || document.getElementById('instrument-select').value;

            document.querySelectorAll('.instrument-card').forEach(card => {
                card.style.display = 'none';
            });

            if (value) {
                document.getElementById('card-' + value).style.display = 'block';
            }
        }


        document.getElementById('load-session-btn').addEventListener('click', () => {
            const select = document.getElementById('session-select');
            const sessionId = select.value;
            if (!sessionId) return alert('Wybierz sesję');

            window.location.href = "{% url 'chart_from_session' 0 %}".replace('/0/', `/${sessionId}/`);
        });
    </script>
{% endblock %}