__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.env
backtest_app/static/backtest_app/chart-tools copy.js
db.sqlite3

*.log
staticfiles/
media/

.vscode/
.idea/
.DS_Store
Thumbs.db

GLBX-20251012-EYUFJ3RL4H/
GLBX-20251012-RYA8KGRWBY/

backtesting/.env